[submodule "EspRelay/makeEspArduino"]
	path = WebSocketTest/makeEspArduino
	url = https://github.com/plerup/makeEspArduino
[submodule "EspRelay/espsoftwareserial"]
	path = WebSocketTest/espsoftwareserial
	url = https://github.com/plerup/espsoftwareserial
